<div id="<%= dom_id trayecto %>">
  <p>
    <strong>Descripcion:</strong>
    <%= trayecto.descripcion %>
  </p>

  <p>
    <strong>Tipo carga:</strong>
    <%= trayecto.tipo_carga.nombre %>
  </p>

  <p>
    <strong>Destino:</strong>
    <%= trayecto.destino %>
  </p>

  <p>
    <strong>Fecha salida:</strong>
    <%= trayecto.fecha_salida %>
  </p>

  <p>
    <strong>Fecha llegada:</strong>
    <%= trayecto.fecha_llegada %>
  </p>

  <p>
    <strong>Vehiculo:</strong>
    <%= trayecto.vehiculo_placa %>
  </p>

  <p>
    <strong>User:</strong>
    <%= trayecto.user_email %>
  </p>

</div>
